{% extends "base.html" %}
{% load static %}
    {% block title %}Portfolio{% endblock title %}
    {% block contents %}
    <div class="w3-content w3-padding-large w3-margin-top">
        <h1>Python: Typing Game</h1>
        <div class="code-containar">
            <pre>
                <code class="language-python">
                    def test(a):
                            b = a +1
                            return b
                        a = input()
                        test(a)
                </code>
            </pre>
        </div>
    </div>
    {% endblock %}